<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" name="button">New Recipe</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix"></a>
    <div class="pull-left">
      <h4 class="list-group-item-heading">Recipe name</h4>
      <p class="list-group-item-text">Description</p>
    </div>
    <span class="pull-right">
      <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2018/9/26/0/FNK_Tuscan-Chicken-Skillet_H2_s4x3.jpg.rend.hgtvcom.826.620.suffix/1537973085542.jpeg"
      alt="" class="img-responsive" style="max-height: 100px;">
    </span>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
